---
layout: main
title: projects
image: /img/cast-on-1-by-1-rib.jpg
---

{% assign projects = site.projects %}


<div class="index-col">
	<h2>software</h2>
	{% for project in projects %}
		{% if project.status == 'published' and project.type == 'software' %}
			<div class="proj-item">
			<a href="{{ project.url | prepend: site.baseurl }}">{{ project.title }} → </a><br>
				<p>{{ project.description }} </p>
				<img class="thumb" src="{{ project.image | prepend: site.baseurl }}"/>
			</div>
		{% endif %}
	{% endfor %}
</div>

<div class="index-col">
	<h2>hardware</h2>
	{% for project in projects %}
		{% if project.status == 'published' and project.type == 'hardware' %}
			<div class="proj-item">
			<a href="{{ project.url | prepend: site.baseurl }}">{{ project.title }} → </a><br>
				<p>{{ project.description }} </p>
				<img class="thumb" src="{{ project.image | prepend: site.baseurl }}"/>
			</div>
		{% endif %}
	{% endfor %}
</div>

<div class="index-col">
	<h2>community</h2>
	{% for project in projects %}
		{% if project.status == 'published' and project.type == 'community' %}
			<div class="proj-item">
			<a href="{{ project.url | prepend: site.baseurl }}">{{ project.title }} → </a><br>
				<p>{{ project.description }} </p>
				<img class="thumb" src="{{ project.image | prepend: site.baseurl }}"/>
			</div>
		{% endif %}
	{% endfor %}
</div>
